node-red/m2x-demo.js
[{"id":"7078d84d.8f8728","type":"websocket-listener","path":"/ws/m2x","wholemsg":"false"},{"id":"a86d09f7.5792f8","type":"websocket in","name":"WSock m2x","server":"7078d84d.8f8728","x":92.99984741210938,"y":309,"z":"c53fe542.3ac018","wires":[["4d8e25ea.b271dc","a69aad0.f59655","1458739b.eba78c"]]},{"id":"4d8e25ea.b271dc","type":"debug","name":"","active":false,"console":"false","complete":"true","x":256.9998474121094,"y":309.0001220703125,"z":"c53fe542.3ac018","wires":[]},{"id":"9cfac14e.63054","type":"http request","name":"POST data to M2X!","method":"POST","encoding":"UTF8","request":"UTF8","url":"https://api-m2x.att.com/v1/feeds/REPLACE-WITH-YOUR-M2X-FEED-ID","x":288.8887939453125,"y":183.888916015625,"z":"c53fe542.3ac018","wires":[["b46606af.4b99f8","3c8e7c5b.c37184"]]},{"id":"a69aad0.f59655","type":"function","name":"Prep Sensor","func":"//msg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : '1ce73ab22f73bd301c571f4175d1cea1'};\nmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : 'REPLACE-WITH-YOUR-M2X-API-KEY'};\nvar JSONObj = JSON.parse(msg.payload);\n\nvar d = new Date();\nvar n = d.toISOString();\n//n = n.substring(0, n.length - 1);\n//n += ' UTC';\n\nvar payloadString = '{ \"values\" : { ' +\n\t\t\t\t\t'\"nametag\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.nametag + '\" } ], ' +\n\t\t\t\t\t'\"latitude\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.latitude + '\" } ], ' +\n\t\t\t\t\t'\"longitude\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.longitude + '\" } ], ' +\n\t\t\t\t\t'\"locale\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.locale + '\" } ], ' +\n\t\t\t\t\t'\"postalcode\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.postalcode + '\" } ], ' +\n\t\t\t\t\t'\"altitude\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.altitude + '\" } ], ' +\n\t\t\t\t\t'\"altitudeaccuracy\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.altitudeaccuracy + '\" } ], ' +\n\t\t\t\t\t'\"platform\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.platform + '\" } ], ' +\n\t\t\t\t\t'\"browsername\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.browsername + '\" } ], ' +\n\t\t\t\t\t'\"browserversion\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.browserversion + '\" } ], ' +\n\t\t\t\t\t'\"battery\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.battery + '\" } ], ' +\n\t\t\t\t\t'\"screenheight\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.screenheight + '\" } ], ' +\n\t\t\t\t\t'\"screenwidth\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.screenwidth + '\" } ], ' +\n\t\t\t\t\t'\"cpucount\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.cpucount + '\" } ], ' +\n\t\t\t\t\t'\"tempf\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.tempf + '\" } ], ' +\n\t\t\t\t\t'\"lowtempf\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.lowtempf + '\" } ], ' +\n\t\t\t\t\t'\"hightempf\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.hightempf + '\" } ], ' +\n\t\t\t\t\t'\"pressure\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.pressure + '\" } ], ' +\n\t\t\t\t\t'\"pressurestate\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.pressurestate + '\" } ], ' +\n\t\t\t\t\t'\"windspeed\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.windspeed + '\" } ], ' +\n\t\t\t\t\t'\"winddirection\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.winddirection + '\" } ], ' +\n\t\t\t\t\t'\"weathercode\" : [ { \"at\" : \"' + n + '\" , \"value\" : \"' + JSONObj.weathercode + '\" } ] ' +\n\t\t\t\t\t' } }';\nmsg.payload = payloadString; \nconsole.log('HTTPRequest payload:'+msg.payload);\n//msg.payload = {'value':LATITUDE};\nreturn msg;","outputs":"1","x":174.88873291015625,"y":240.88888549804688,"z":"c53fe542.3ac018","wires":[["3a0fbe1b.c5f042","9cfac14e.63054"]]},{"id":"3c8e7c5b.c37184","type":"debug","name":"","active":true,"console":"false","complete":"true","x":481.8887939453125,"y":183.88888549804688,"z":"c53fe542.3ac018","wires":[]},{"id":"56b591ae.a94a7","type":"debug","name":"","active":true,"console":"false","complete":"true","x":338.8887939453125,"y":378.8888854980469,"z":"c53fe542.3ac018","wires":[]},{"id":"99b889fb.664778","type":"http request","name":"PUT location to M2X!","method":"PUT","encoding":"UTF8","request":"UTF8","url":"https://api-m2x.att.com/v1/feeds/REPLACE-WITH-YOUR-M2X-FEED-ID/location","x":303,"y":445,"z":"c53fe542.3ac018","wires":[["66fc3efd.9903c"]]},{"id":"66fc3efd.9903c","type":"debug","name":"","active":false,"console":"false","complete":"true","x":479,"y":445,"z":"c53fe542.3ac018","wires":[]},{"id":"1458739b.eba78c","type":"function","name":"Prep Location","func":"//msg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : '1ce73ab22f73bd301c571f4175d1cea1'};\nmsg.headers = {'Content-Type' : 'application/json','X-M2X-KEY' : 'REPLACE-WITH-YOUR-M2X-API-KEY'};\nvar JSONObj = JSON.parse(msg.payload);\n\nvar d = new Date();\nvar n = d.toISOString();\n\nvar payloadString = '{ \"name\" : \"' + JSONObj.locale + '\", ' +\n\t\t\t\t\t'\"latitude\" : \"' + JSONObj.latitude + '\", ' +\n\t\t\t\t\t'\"longitude\" : \"' + JSONObj.longitude + '\", ' +\n\t\t\t\t\t'\"elevation\" : \"' + '0' + '\" }';\n\nmsg.payload = payloadString;\n//console.log('HTTPRequest location payload:'+msg.payload);\n//msg.payload = {'value':LATITUDE};\nreturn msg;","outputs":"1","x":177,"y":379,"z":"c53fe542.3ac018","wires":[["99b889fb.664778","56b591ae.a94a7"]]},{"id":"3a0fbe1b.c5f042","type":"debug","name":"","active":true,"console":"false","complete":"true","x":350,"y":241,"z":"c53fe542.3ac018","wires":[]},{"id":"f4e8e8fb.0b1718","type":"websocket out","name":"WSock Reponse","server":"7078d84d.8f8728","x":485,"y":60,"z":"c53fe542.3ac018","wires":[]},{"id":"b46606af.4b99f8","type":"function","name":"Prep Response","func":"console.log('msg.headers.status:'+msg.headers.status);\nmsg.payload = msg.headers.status; \n//msg._session = null;\nreturn msg;","outputs":1,"x":380,"y":121,"z":"c53fe542.3ac018","wires":[["f4e8e8fb.0b1718","59005845.a6ffa8"]]},{"id":"19fc3af8.e603c5","type":"comment","name":"How this Works - 50K foot view","info":"This is a demonstration / example of how to interact with the AT&T M2X platform.\n\nYour phone is acting as the Internet \"Thing,\" which can push device \"sensor\" information into the AT&T M2X cloud.\n\nView your device information: M2X Feeds\n\nHere is an illustration of our demo environment (phone->M2X App Engine->M2X Data Services).\n\nThis demo is a web app is written using HTML5, CSS3, and JavaScript. \nWhen you refresh the location information, the device GPS is used to obtain updated coordinates. \nAlternately, you can enter a zip code and the app will query Google Maps for the lat/long matching that postal code.\n\nAs the location is selected / modified, the app also queries the Yahoo Weather via APIs to get the latest weather information for the location. \nThat gives us \"device-centric\" data to send into the AT&T M2X cloud. You can find that under the \"Device\" pull-down.\n\nWhen you press the \"Send to M2X\" button, the app formats the location, device and weather information into a JSON object and sends via web service to the AT&T M2X App Engine.\nUpon authentication by M2X, it is parsed & validated, applied via business logic, and ultimately pushed into the M2X Data Services cloud for long-term storage.\nOnce stored, you can view your data in time-based format, aggregate for business analytics, share with other applications, etc.\n\n© 2014 by Kevin W. Jones. Kevin is an architect with AT&T Mobility Solutions Services. If you'd like to learn more, ask your AT&T mobility professional to contact Kevin and the MSS team.","x":574,"y":278,"z":"c53fe542.3ac018","wires":[]},{"id":"59005845.a6ffa8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":570.0909729003906,"y":121.09091186523438,"z":"c53fe542.3ac018","wires":[]}]